.container-{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cornflowerblue;
}

.button-primary{
    background-color:coral;
    font-size: 15px;
}